= form_for ([@inventory]) do |f|
  - if @inventory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inventory.errors.count, "error")} prohibited this inventory from being saved:"
      %ul
        - @inventory.errors.full_messages.each do |message|
          %li= message
  - @this_item = Item.find(params[:id]) 
  - @item_name = @this_item.itemName
  
  .field
    = f.label :ItemNum
    /* = f.label @item_name */
    /* #= f.text_field get_itemName(:itemnum) */
    = f.text_field @item_name
  .field
    = f.label :Quantity
    = f.number_field :quantity
  .field
    = f.label :Expiration
    = f.date_select :expires
  .field
    = f.label :Category
    /* #= f.text_field get_category(:itemnum) */
    = f.text_field :category
  .field
    = f.label :Organization
    /& #= f.text_field get_organization(:orgnum) */
    = f.text_field :orgnum
  .actions
    = f.submit 'Save'
