= form_for @inventory do |f|
  - if @inventory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inventory.errors.count, "error")} prohibited this inventory from being saved:"
      %ul
        - @inventory.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :itemnum :ItemNum
    = f.number_field :itemnum
  .field
    = f.label :orgnum :Organization
    = f.number_field :orgnum
  .field
    = f.label :quantity :Quantity
    = f.number_field :quantity
  .field
    = f.label :expires :ExpDate
    = f.date_select :expires
  .actions
    = f.submit 'Save'
