= form_for @inventory do |f|
  - if @inventory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inventory.errors.count, "error")} prohibited this inventory from being saved:"
      %ul
        - @inventory.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :itemnum, :ItemNum
    // f.text_field get_itemName(:itemnum)
    =f.text_field :itemnum
  .field
    = f.label :orgnum, :Organization
    /& #= f.text_field get_organization(:orgnum) */
    //= f.select :org_name, options_for_select([Organization.org_name])
    = f.text_field :orgnum
  .field
    = f.label :quantity, :Quantity
    = f.number_field :quantity
  .field
    = f.label :expires, :Expiration
    = f.date_select :expires
  .field
    = f.label :category, :Category
    /* #= f.text_field get_category(:itemnum) */
    // = f.text_field :category
    // <%= f.select :desired_attribute, ['option1', 'option2']%>
    = f.select :category, options_for_select([ "Canned", "Dried Food", "Soup", "Supllies", "Milk/Juice" ], " ") 
 
  .actions
    = f.submit 'Save'
