%h1 Pantry Inventory

%table#inventories
  %thead
    %tr
      %th Item
      %th Organization
      %th Quantity
      %th Expiration Date
      %th Category

  %tbody
    - @inventories.each do |inventory|
      %tr
        %td= inventory.itemnum
        %td= inventory.orgnum
        %td= inventory.quantity
        %td= inventory.expires
        %td= inventory.category
        %td= link_to 'Show', inventory
        %td= link_to 'Edit', edit_inventory_path(inventory)
        %td= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Add to Inventory', new_inventory_path
