<p>
    <strong>Item:</strong>
    <%= @donation.item %>
</p>

<p>
    <strong>Quantity:</strong>
    <%= @donation.quantity %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donatio_path %>