<%= form_for @item do |f| %>
    <% if @item.errors.any? %>
        <div id= 'error_explanation'>
            <h2>
                <%= pluralize(@item.errors.count, 'error') %> prohibited this
                item from being saved:
            </h2>
            <u1>
                <% @item.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </u1>
        </div>
    <% end %>
    
    <p>
        <%= f.label :itemName %><br>
        <%= f.text_field :itemName %>
    </p>
    <p>
        <%= f.label :category %><br>
        <%= f.text_field :category %>
    </p>
    <p>
        <%= f.label :expiration %><br>
        <%= f.text_field :expiration %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    
<% end %>