= form_for @inventory do |f|
  - if @inventory.errors.any?
    #error_explanation
      %h2
        = pluralize(@inventory.errors.count, 'error')
        prohibited this inventory from being saved:
      %u1
        - @inventory.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :ItemName
    %br/
    = f.text_field :itemName
  %p
    = f.label :Quantity
    %br/
    = f.text_field :quantity
  %p
    = f.label :ExpDate
    %br/
    = f.text_field :expDate
  %p
    = f.label :Category
    %br/
    = f.text_field :category
  %p
    = f.label :Organization
    %br/
    = f.text_field :organization
  %p
    = f.submit