= form_for @inventory do |f|
  - if @inventory.errors.any?
    #error_explanation
      %h2
        = pluralize(@inventory.errors.count, 'error')
        prohibited this inventory from being saved:
      %u1
        - @inventory.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :itemnum :ItemNum
    %br/
    = f.text_field :itemnum
   %p
    = f.label :orgnum :Organization
    %br/
    = f.text_field :orgnum
  %p
    = f.label :quantity :Quantity
    %br/
    = f.text_field :quantity
  %p
    = f.label :expires :ExpDate
    %br/
    = f.text_field :expires
  %p
    = f.label :Category
    %br/
    = f.text_field :category
 
  %p
    = f.submit