= form_for @organization do |f|
    - if @organization.errors.any?
        #error_explanation
            %h2
                = pluralize(@organization.errors.count, 'error')
                prohibited this organization from being saved:
            %u1
                - @organization.errors.full_messages.each do |msg|
                    %li= msg
    %p
        = f.label :org_name, :Organization
        %br/
        = f.text_field :org_name
    %p
        = f.label  :address, :Address
        %br/
        = f.text_field :address
    %p
        = f.label :phone, :Phone
        %br/
        = f.text_field :phone
    %p
        = f.label :contact_id, :Contact
        %br/
        = f.text_field :contact_id
    %p
        = f.submit