!!!
%html
  %head
    = stylesheet_link_tag "application" 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body
    %nav
      %ul.nav-list
        %li
          = link_to "Home", controller: 'welcome'
        %li 
          = link_to "Pantry", controller: 'inventories'
        %li 
          = link_to "Organizations", controller: 'organizations'
        %li
          = link_to "Donors", controller: 'donors'
        %li
          = link_to "Items", controller: 'items'

  #content= content_for?(:content) ? yield(:content) : yield
